<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Blocked</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/styles/index.css">
</head>
<body class="bg-light d-flex justify-content-center align-items-center vh-100 login-register-bg">

    <div class="card shadow form-bg p-4 text-center" style="max-width: 500px;">
        <div class="mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-exclamation-triangle text-danger" viewBox="0 0 16 16">
              <path d="M7.938 2.016a.13.13 0 0 1 .125 0l6.857 3.95c.06.034.06.123 0 .157L8.063 10.07a.13.13 0 0 1-.125 0L1.08 6.123a.125.125 0 0 1 0-.156l6.857-3.95zM8 4.293L2.854 7.5 8 10.707 13.146 7.5 8 4.293z"/>
              <path d="M7.002 11a1 1 0 1 0 2 0 1 1 0 0 0-2 0zm.93-5.481a.5.5 0 0 0-.93 0L6.1 9.016a.5.5 0 0 0 .485.656h1.848a.5.5 0 0 0 .485-.656l-.486-3.487z"/>
            </svg>
        </div>
        <h3 class="text-danger mb-3">Account Blocked</h3>
        <p class="mb-4 text-light">Your account has been deactivated by the admin.<br>
           Please contact your administrator for assistance.</p>
        
    </div>

    <!-- Bootstrap JS (Optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
