<div th:fragment="manageUsersFragment">
    <h5 class="mb-3 mt-4">User List</h5>
    <div class="table-responsive" id="userTable">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.userEmail}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.active} ? 'Active' : 'Inactive'"></td>
                    <td>
                        <button class="btn btn-sm"
                                th:classappend="${user.active} ? 'btn-success' : 'btn-danger'"
                                th:text="${user.active} ? 'Active' : 'DeActivate'"
                                th:data-id="${user.userId}"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
