<div th:fragment="ordersListFragment">
    <h5 class="mb-3 mt-4">Orders List</h5>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Order ID</th>
                    <th>User</th>
                    <th>Product</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Bill</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.user.userName}"></td>
                    <td th:text="${order.product.name}"></td>
                    <td>
                        <img th:src="@{'/product-images/' + ${order.product.id}}"
                             alt="Product Image" width="60" height="60"/>
                    </td>
                    <td th:text="${order.productQty}"></td>
                    <td th:text="${order.bill}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
